body {
    height: 100%;
    width: 100%;
}

#editorjs {
    color: black;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 20em;
    margin-right: 20em;
    background-color: white;
}

#button_group {
    text-align: center;
}

#title {
    display: block;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}