html,
body {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;

}   
body {
    background-color: rgb(22, 22, 22);
    color: #ffffff;
    cursor: default;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav > ul > li {
    float: left;
    display: inline;
}

.nav_left {
    float: left;
}

.nav_right {
    float: right;
}

nav > ul > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav > ul > li a:hover {
    background-color: #111;
}
/* Error box bumms */
#output_message_inner {
    cursor: pointer;
    background-color: #5b66aa;
    color: #ffffff;
    font-size: 1.5rem;
    width: fit-content;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    animation: animation_error 10s ease 0s 1 normal forwards;
  }
  
  #error_message_inner {
    cursor: pointer;
    background-color: #dd0012;
    color: #ffffff;
    font-size: 1.5rem;
    width: fit-content;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    animation: animation_error 10s ease 0s 1 normal forwards;
  }
  
  @keyframes animation_error {
    0% {
        opacity: 0;
        transform: translateX(5rem);
        display: block;
    }
    5% {
        opacity: 1;
        transform: translateX(0);
    }
    95% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(5rem);
        display: none;
    }
  }
  
  @keyframes animation_close_error {
    0% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
    }
  }


