html,
body {
    height: 100%;
    width: 100%;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_inner {
    background:linear-gradient(135deg,#488DA9,#022e3f);
    padding: 2.5rem;
    border-radius: 2rem;
}
.container form a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#formlog_title{
    padding-left: 3.25em;
}
#form_title {
    padding-left: 2em;
}
#register_button {
    background-color: transparent;
    border: 0;
    color: white;
    margin-left: 5.5em;
    margin-top: 1.5em;
}
#register_button:hover {
    cursor: pointer;
}


